.AdminPanel{

}

.AdminPanel .container{
    padding: 24px 16px;

    display: flex;
    flex-direction: row;
    gap: 24px;
}

.admin-nav-panel{
    width: 20%;
    height: fit-content;
    padding: 16px 0;


    display: flex;
    flex-direction: column;
    gap: 16px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.admin-content{
    width: 100%;
    padding: 16px;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.admin-option{
    width: 100%;
    padding: 8px 16px;

    display: flex;
    align-items: center;
    gap: 24px;

    cursor: pointer;
    transition: 0.5s;
}

.admin-option:hover{
    color: var(--highlight-color);
}

.admin-option *{
    color: inherit;
}

.option-icon{
    height: 24px;
    width: 24px;
}

.option-icon.add{
    background: url("../../icons/admin/add.png") no-repeat center;
    background-size: cover;
}

.option-icon.movies{
    background: url("../../icons/admin/movie.png") no-repeat center;
    background-size: cover;
}

.option-icon.schedule{
    background: url("../../icons/admin/schedule.png") no-repeat center;
    background-size: cover;
}