.MoviesList{
    width: 100%;
    padding: 24px 0;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

.movies-list-box{
    display: flex;

    flex-direction: column;
    gap: 24px;
}

.movies-list{
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    gap: 48px;
}

.MovieCard{
    height: 400px;
    width: 240px;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;

    cursor: pointer;
}

.MovieCard .movie-poster{
    height: 85%;
    width: 100%;

    object-fit: cover;
}

.MovieCard .movie-poster img{
    width: 100%;
    height: 100%;
}

.MovieCard .movie-description{
    width: 100%;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}