:root {
  /* Interface */
  --main-color: #191b1d;
  --background-color: #fff;
  --background-focus: #22272b;
  --highlight-color: #ca3737;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;
  color: var(--main-color);
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
