.Header {
    width: 100%;
    padding: 16px 0;

    background: var(--main-color);
}

.Header * {
    color: var(--background-color);
}

.header-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.menu-box {
    width: 60%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
}

.menu-link {
    min-width: 150px;
    padding: 4px 8px;
    border-radius: 8px;
    transition: 0.5s;
}

.menu-link span {
    font-weight: bold;
}

.menu-item .menu-link.active {
    background: var(--highlight-color);
}

.profile-dropdown {
    width: 200px;
    padding: 8px 0;

    background: var(--background-color);
    border-radius: 8px;

    cursor: pointer;
    position: relative;
}

.profile-dropdown * {
    color: var(--main-color);
}

.profile-dropdown-img {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    border-radius: 50%;
    background: var(--highlight-color);
}

.profile-dropdown-control {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.profile-dropdown-arrow {
    width: 12px;
    height: 12px;

    background: url("../../icons/dropdown.png") no-repeat center;
    background-size: cover;

    cursor: pointer;
}
.profile-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    padding: 8px;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
    border: 1px solid #ccd1d9;
    border-radius: 8px;

    z-index: 1000;
}

.dropdown-menu-item{
    width: 100%;
    padding: 4px 0;

    display: flex;
    justify-content: center;
    text-align: center;

    transition: 0.5s;
}

.dropdown-menu-item *{
    color: inherit;
}

.dropdown-menu-item:hover{
    color: var(--highlight-color);
}

.dropdown-menu-item .menu-link{
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;

    font-weight: normal;
}

.dropdown-menu-item .icon{
    width: 24px;
    height: 24px;
}

.dropdown-menu-item .menu-link span{
    flex: 1;

    font-size: 16px;
    font-weight: normal;
}

.dropdown-menu-item .profile-icon{
    background: url("../../icons/user.png") no-repeat center;
    background-size: cover;
}

.dropdown-menu-item .tickets-icon{
    background: url("../../icons/ticket.png") no-repeat center;
    background-size: cover;
}

.dropdown-menu-item .log-out-icon{
    background: url("../../icons/logout.png") no-repeat center;
    background-size: cover;
}