.Header{
    width: 100%;
    padding: 16px 0;

    background: var(--main-color);
}

.Header *{
    color: var(--background-color);
}

.header-wrapper{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.menu-box{
    width: 60%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.menu-link{
    min-width: 150px;
    padding: 4px 8px;
    border-radius: 8px;
    transition: 0.5s;
}

.menu-link span{
    font-weight: bold;
}

.menu-item .menu-link.active{
    background: var(--highlight-color);
}