.AddMovie{
    padding: 24px;
    width: 100%;
}

.AddMovie .add-movie-description-box{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.AddMovie .add-movie-description{
    width: 70%;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.AddMovie form{
    width: 100%;
    display: flex;

    flex-direction: column;
}

.AddMovie .form-row{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.AddMovie input{
    border: none;
    padding-left: 0;

    border-bottom: 1px solid var(--main-color);
    border-radius: 0;
}

.AddMovie input:focus {
    outline: none;
    color: var(--main-color);
    background: var(--background-color);
    border-bottom: 2px solid var(--main-color);
}

.AddMovie textarea{
    width: 100%;
    padding: 8px;
    resize: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid var(--main-color);;
}

.AddMovie textarea:focus{
    outline: none;
    border: 2px solid var(--main-color);
}

.AddMovie .add-movie-poster-box{
    width: 30%;

    display: flex;
    justify-content: center;
}

.AddMovie .poster-wrapper{
    height: 320px;
    width: 200px;
    margin: 0 48px;

    cursor: pointer;

    background: url("../../../icons/admin/add.png") no-repeat center;
    background-size: 50%;
    overflow: hidden;

    box-shadow: 0 10px 30px rgba(00,00,00,.5);
    position: relative;
}

.PosterImage{
    height: 100%;
}

.AddMovie .poster-image {
    height: 100%;
    width: 100%;
}

.poster-image img{
    height: 100%;
    width: 100%;
}

.AddMovie .preview-images-box{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.AddMovie .preview-images-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.AddMovie .preview-image{
    height: 160px;
    width: 240px;

    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 8px;
    overflow: hidden;

    transition: 0.2s;
    cursor: pointer;

    position: relative;
}

.AddMovie .remove{
    position: absolute;
    top: 4px;
    right: 4px;

    height: 24px;
    width: 24px;

    background: url("../../../icons/close.png") no-repeat center;
    background-size: 100%;
    filter: invert();

    border: 2px solid var(--main-color);
    border-radius: 50%;

    transition: 0.5s;
}

.AddMovie .remove:hover{
    transform: rotate(90deg);
}

.AddMovie .preview-image.new{
    background: url("../../../icons/admin/add.png") no-repeat center;
    background-size: 20%;
}

.AddMovie .preview-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.AddMovie .PreviewImage{
    width: 100%;
    height: 100%;
}

.AddMovie .PreviewImage img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.AddMovie .hidden{
    display: none;
}

.AddMovie .submit-box{
    width: 100%;
    margin-top: 24px;

    display: flex;
    justify-content: flex-start;
}

.AddMovie button.submit{
    width: 300px;
}

.InputList, .SelectList{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.InputList .input-list-wrapper, .SelectList .select-list-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.InputList .input-element, .SelectList .select-element{
    width: auto;
    min-width: 120px;
    padding: 0 8px;

    display: flex;
    align-items: center;

    border: 1px solid var(--main-color);
    border-radius: 8px;
}

.input-element input{
    width: 200px;
    padding: 8px;
    border: none;
}

.input-element input:focus{
    border: none;
}

.select-element select{
    width: fit-content;
    padding: 8px;
    background: var(--background-color);
    border: none;
}

.select-element option{
    width: 100%;
}

.select-element select:focus{
    border-bottom: none;
}

.input-element .remove-input, .select-element .remove-select{
    width: 24px;
    height: 24px;

    background: url("../../../icons/close.png") no-repeat center;
    background-size: 50%;

    cursor: pointer;
}

.add-input-element, .add-select-element{
    height: 100%;
}

.add-input-element button, .add-select-element button{
    padding: 8px;
    border: 1px solid var(--main-color);
}

.add-input-element button:hover, .add-select-element button:hover{
    color: var(--background-color);
    background: var(--main-color);
}